body {
  background-color: #a3d0c6;
  font-family: 'Amatic SC', cursive;
}

.search-bar {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  border: 2px solid black;
  border-radius: 5px;
  background: #fef9ea;
  width: 50%;
  font-family: inherit;
  font-weight: bold;
  font-size: 25px;
}

.video-list-item {
  border: 1px solid black;
  background: #fef9ea;
  font-family: inherit;
  font-size: 25px;
  cursor: pointer;
}

.video-list-item:hover {
  opacity: .5;
}

.video-detail {
  font-family: inherit;
  font-size: 25px;
  font-weight: bold;
}

.video {
  border-radius: 5px;
}
